[Desktop Entry]
Name=Zeit
Comment=Qt GUI for crontab and at
Exec=/usr/bin/zeit
Icon=zeit
Terminal=false
Type=Application
Categories=Qt;KDE;Utility;System;Scheduler;
StartupNotify=true
